@import "../../SassGlobals/variables.scss";

@mixin break1 {
  @media (max-width: 1020px) {
    @content;
  }
}

@mixin break2 {
  @media (max-width: 710px) {
    @content;
  }
}

@mixin  break3 {
  @media (max-width: 500px) {
    @content
  }
}

@mixin break4 {
  @media (max-width: 380px){
    @content
  }
}


.projects-container {
  width: 100vw;
  background-color: $darkMetal;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .projects-body {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    @include break1(){
      width: 700px;
    }
    @include break2(){
      width: 500px;
    }
    @include break3(){
      width: 400px;
    }
    @include break4(){
      width: 340px;
    }
    .projects-body-title-container {
      width: 100%;
      text-align: left;
      height: 115px;
      @include break4(){
        text-align: center;
      }
      h2 {
        color: $greyish;
        font-family: $recursive;
      }
    }
    .project-body-one {
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: space-evenly;
      @include break1(){
        position: relative;
      }
      @include break2(){
        height: 600px;
      }
      @include break3(){
        height: 700px;
      }
      @include break4(){
        height: 600px;
      }
      .project-body-one-info,
      .project-body-image-container {
        height: 100%;
        width: 50%;
      }
      .project-body-image-container{
        img{
          filter: blur(1px) opacity(30%);
          transition: all ease 400ms;
          height: 300px;
          width: 500px;
          &:hover{
            filter: blur(0px) opacity(100%);
          }
          @include break1(){
            position: absolute;
            right: 0;
            box-shadow: 4px 4px 4px $lightMetal;
            filter: blur(2px) opacity(20%);
          }
          @include break2(){
            height: 200px;
            width: 350px;
          }
          @include break3(){
            filter: blur(5px) opacity(15%);
          }
          @include break4(){
            height: 150px;
            width: 250px;
            display: none;
            filter: blur(5px) opacity(15%);
            &:hover{
              filter: blur(5px) opacity(15%);
            }
          }
        }
      }
      .project-body-one-info {
        font-family: $roboto;
        color: $whiteish;
        display: flex;
        text-align: left;
        flex-direction: column;
        @include break1(){
          position: absolute;
          left: 0;
        }
        .project-body-one-title {
          width: 100%;
          height: 20%;
          font-size: 40px;
          color: $blu;
          font-family: $recursive;
          @include break4(){
            font-size: 70px;
          }
        }
        .project-body-one-about {
          width: 86%;
          height: 30%;
          @include break4(){
            width: 300px;
          }
        }
        .project-body-one-tech {
          word-spacing: 20px;
          color: $greyish;
          font-family: $recursive;
          height: 15%;
          @include break4(){
            width: 300px;
          }
        }
        .project-body-one-links {
          word-spacing: 20px;
          color: $greyish;
          font-family: $recursive;
        }
      }
    }
    .project-body-two {
      width: 100%;
      height: 400px;
      border-bottom: $blu solid 1px;
      display: flex;
      justify-content: space-evenly;
      @include break2(){
        height: 600px;
      }
      @include break3(){
        height: 700px;
      }
      @include break4(){
        height: 600px;
      }
      .project-body-two-info,
      .project-body-image-container {
        height: 100%;
        width: 50%;
      }
      .project-body-image-container{
        img{
          height: 300px;
          width: 500px;
          filter: blur(1px) opacity(30%);
          transition: all ease 400ms;
          &:hover{
            filter: blur(0px) opacity(100%);
          }
          @include break1(){
            filter: blur(2px) opacity(20%);
          }
          @include break2(){
            height: 200px;
            width: 350px;
          }
          @include break3(){
            filter: blur(5px) opacity(15%);
          }
          @include break4(){
            filter: blur(5px) opacity(15%);
            display: none;
            &:hover{
              filter: blur(5px) opacity(15%);
            }
          }
        }
      }
      .project-body-two-info {
        font-family: $roboto;
        color: $whiteish;
        display: flex;
        text-align: right;
        align-items: flex-end;
        flex-direction: column;
        .project-body-two-title {
          width: 100%;
          height: 20%;
          font-size: 40px;
          font-family: $recursive;
          color: $blu;
          @include break4(){
            font-size: 70px;
            margin-right: 35px;
          }
        }
        .project-body-two-about {
          width: 86%;
          height: 30%;
          @include break4(){
            width: 300px;
          }
        }
        .project-body-two-tech {
          word-spacing: 20px;
          color: $greyish;
          font-family: $recursive;
          height: 15%;
          @include break4(){
            width: 300px;
          }
        }
        .project-body-two-links {
          word-spacing: 20px;
          color: $greyish;
          font-family: $recursive;
        }
      }
    }
    .project-body-extras {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
      justify-content: space-evenly;
      .extra-projects-title-container {
        width: 100%;
        height: 50px;
        text-align: left;
        padding-bottom: 15px;
        h2 {
          color: $greyish;
          font-family: $recursive;
        }
      }
      .project-thumbnails-container {
        width: 100%;
        display: flex;
        // height: 400px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include break1(){
          justify-content: space-around;
          margin-top: 10px;
        }
        .project-thumbnail{
          height: 350px;
          width: 235px;
          background-color: $lightMetal1;
          border-radius: 5px;
          align-items: center;
          display: flex;
          flex-direction: column;
          box-shadow: 2px 2px 3px $lightMetal;
          border-bottom: $blu 1px solid;
          transition: all ease 400ms;
          @include break1(){
            @include break1(){
              height: 300px;
              margin: 15px 0 10px 0;
            }
          }
          .project-thumbnail-title-container{
            width: 80%;
            height: 20%;
            color: $whiteish;
            font-family: $recursive;
            text-align: left;
          }
          .project-thumbnail-content-container{
            width: 80%;
            height: 50%;
            text-align: left;
            color: $whiteish;
            font-family: $roboto;
          }
          .project-thumbnail-tech{
            width: 80%;
            height: 10%;
            color: $greyish;
            display: flex;
            word-spacing: 5px;
            font-family: $recursive;
          }
          .project-thumbnail-links-container{
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 20%;
          }
        }
      }
    }
  }
}
