@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap");
.about-container {
  width: 100vw;
  height: 100vh;
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.about-container .about-body {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1020px) {
  .about-container .about-body {
    width: 700px;
  }
}

@media (max-width: 710px) {
  .about-container .about-body {
    width: 500px;
  }
}

@media (max-width: 500px) {
  .about-container .about-body {
    width: 400px;
  }
}

@media (max-width: 380px) {
  .about-container .about-body {
    width: 360px;
  }
}

.about-container .about-body .about-info, .about-container .about-body .about-contact {
  width: 50%;
  height: 545px;
  border-bottom: #BB86F3 1px solid;
}

@media (max-width: 1020px) {
  .about-container .about-body .about-info, .about-container .about-body .about-contact {
    border-bottom: none;
  }
}

@media (max-width: 710px) {
  .about-container .about-body .about-info, .about-container .about-body .about-contact {
    width: 100%;
  }
}

.about-container .about-body .about-info {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 710px) {
  .about-container .about-body .about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-container .about-body .about-info h2 {
  font-family: "Recursive", sans-serif;
  font-size: 50px;
}

@media (max-width: 710px) {
  .about-container .about-body .about-info h2 {
    font-size: 30px;
  }
}

@media (max-height: 813px) {
  .about-container .about-body .about-info h2 {
    font-size: 30px;
    padding-top: 20px;
  }
}

.about-container .about-body .about-info h4 {
  font-family: "Roboto", sans-serif;
  color: #BB86F3;
}

.about-container .about-body .about-info ul {
  list-style-type: circle;
  width: 100px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 220px;
          column-gap: 220px;
  height: 100px;
  font-family: "Recursive", sans-serif;
}

@media (max-width: 710px) {
  .about-container .about-body .about-info ul {
    width: 300px;
    margin: auto;
    margin-left: 50px;
  }
}

@media (max-width: 500px) {
  .about-container .about-body .about-info ul {
    width: 200px;
    margin-left: 20px;
  }
}

@media (max-width: 380px) {
  .about-container .about-body .about-info ul {
    width: 100px;
    margin-left: 0px;
  }
}

.about-container .about-body .about-contact {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  text-align: right;
}

@media (max-width: 710px) {
  .about-container .about-body .about-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
    height: 50px;
    margin-top: 20px;
  }
}

.about-container .about-body .about-contact h2 {
  font-family: "Recursive", sans-serif;
  font-size: 50px;
}

@media (max-width: 710px) {
  .about-container .about-body .about-contact h2 {
    width: 100%;
    height: 50px;
    margin: 0;
    font-size: 30px;
    display: none;
  }
}

.about-container .about-body .about-contact h4 {
  font-family: "Roboto", sans-serif;
}

@media (max-width: 710px) {
  .about-container .about-body .about-contact h4 {
    width: 50%;
    height: 10px;
    margin: auto;
    height: 50px;
    text-align: left;
  }
}

@media (max-width: 380px) {
  .about-container .about-body .about-contact h4 {
    font-size: 12px;
    padding-top: 15px;
    margin: auto;
  }
}

@media (max-height: 813px) {
  .about-container .about-body .about-contact h4 {
    display: none;
  }
}

@media (max-width: 710px) {
  .about-container .about-body .about-contact .phn-num {
    text-align: right;
  }
}

.about-container .about-body .about-contact .about-contacts-container {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 710px) {
  .about-container .about-body .about-contact .about-contacts-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 50px;
    width: 500px;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: auto;
  }
}

@media (max-height: 813px) {
  .about-container .about-body .about-contact .about-contacts-container {
    margin-bottom: 25px;
  }
}

.about-container .about-body .about-icon-container {
  width: 100%;
  height: 150px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-height: 813px) {
  .about-container .about-body .about-icon-container {
    display: none;
  }
}

@media (max-width: 1020px) {
  .about-container .about-body .about-icon-container {
    height: 40px;
    margin-top: 110px;
  }
}

@media (max-width: 710px) {
  .about-container .about-body .about-icon-container {
    padding-top: 10px;
  }
}

@media (max-width: 500px) {
  .about-container .about-body .about-icon-container {
    padding-top: 0px;
  }
}

.about-container .about-body .about-icon-container .planet-icon {
  height: 100px;
}

@media (max-width: 1020px) {
  .about-container .about-body .about-icon-container .planet-icon {
    height: 40px;
  }
}

@media (max-width: 500px) {
  .about-container .about-body .about-icon-container .planet-icon {
    height: 20px;
  }
}

.about-container .about-body .about-socials-container {
  width: 100%;
  height: 10px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

@media (max-height: 813px) {
  .about-container .about-body .about-socials-container {
    display: none;
  }
}

.about-container .about-body .about-socials-container h6 {
  margin-top: 5px;
}
/*# sourceMappingURL=About.css.map */