@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap");
.home-container {
  width: 100vw;
  height: 100vh;
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.home-container .hero-container {
  width: 100%;
  margin: auto;
  height: 600px;
}

.home-container .hero-container .down-arrow {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.home-container .hero-container .down-arrow:hover {
  cursor: pointer;
}

.home-container .hero-container .home-titles-container {
  width: 1000px;
  z-index: 2;
  position: absolute;
}

@media (max-width: 1020px) {
  .home-container .hero-container .home-titles-container {
    width: 100%;
  }
}

@media (max-height: 843px) {
  .home-container .hero-container .home-titles-container {
    height: 500px;
    margin-top: 100px;
  }
}

.home-container .hero-container .home-titles-container .line-wrap {
  overflow: hidden;
  height: 100px;
}

@media (max-height: 843px) {
  .home-container .hero-container .home-titles-container .line-wrap {
    height: 90px;
    margin-top: 30px !important;
  }
}

.home-container .hero-container .home-titles-container .line-wrap .line {
  height: 185px;
  text-align: center;
}

.home-container .hero-container .home-titles-container .line-wrap .line .home-title-1 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  font-weight: 500;
  margin: 2px auto;
}

@media (max-width: 1020px) {
  .home-container .hero-container .home-titles-container .line-wrap .line .home-title-1 {
    font-size: 75px;
  }
}

@media (max-width: 500px) {
  .home-container .hero-container .home-titles-container .line-wrap .line .home-title-1 {
    font-size: 45px;
  }
}

.home-container .hero-container .home-titles-container .line-wrap .line .home-title-1 .chase {
  -webkit-transition: all 600ms;
  transition: all 600ms;
}

.home-container .hero-container .home-titles-container .line-wrap .line .home-title-1 .chase:hover {
  color: #BB86F3;
}

.home-container .hero-container .home-titles-container .line-wrap .line .home-title-2 {
  font-family: "Roboto", sans-serif;
  color: #eeeeee80;
  font-size: 70px;
  margin-top: 15px;
  font-weight: 400;
}

@media (max-width: 1020px) {
  .home-container .hero-container .home-titles-container .line-wrap .line .home-title-2 {
    font-size: 45px;
  }
}

@media (max-width: 500px) {
  .home-container .hero-container .home-titles-container .line-wrap .line .home-title-2 {
    font-size: 30px;
  }
}

.home-container .hero-container .home-titles-container .line-wrap .line .home-title-3 {
  font-family: "Roboto", sans-serif;
  color: #eeeeee80;
  font-size: 20px;
  margin-top: 15px;
  font-weight: 400;
}

@media (max-width: 1020px) {
  .home-container .hero-container .home-titles-container .line-wrap .line .home-title-3 {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .home-container .hero-container .home-titles-container .line-wrap .line .home-title-3 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=Home.css.map */