@import "../../SassGlobals/variables.scss";

.home-container {
  width: 96vw;
  margin-left: 4vw;
  height: 100vh;
  background-color: $darkMetal;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  .sue {
    color: $greyish;
    font-size: 70px;
    font-family: $sue;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sue2 {
    color: $greyish;
    font-size: 60px;
    font-family: $sue;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 14px;
  }
  .home-titles-container {
    width: 860px;
    z-index: 2;
    position: absolute;
    .line-wrap {
      overflow: hidden;
      height: 100px;
      .line {
        height: 185px;
        text-align: left;
        .home-title-1 {
          color: $whiteish;
          font-family: $roboto;
          font-size: 100px;
          font-weight: 500;
          padding: 2px;
          margin: 2px auto;
          .chase {
            transition: all 600ms;
            &:hover {
              color: $blu;
            }
          }
        }
        .home-title-2 {
          color: $whiteish;
          font-family: $roboto;
          color: #eeeeee80;
          font-size: 20px;
          margin-left: 10px;
          margin-top: 25px;
          font-weight: 400;
        }
        .home-title-3 {
          color: $whiteish;
          font-family: $roboto;
          color: #eeeeee80;
          font-size: 20px;
          margin-left: 10px;
          font-weight: 400;
          span {
            transition: all ease 900ms;
            &:hover {
              cursor: pointer;
              color: $blu;
            }
          }
        }
      }
    }
  }

  .home-social-icons {
    height: 60px;
    width: 370px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    right: 0;
  }
}
