@import "../../SassGlobals/variables.scss";

.home-container {
  width: 100vw;
  height: 100vh;
  background-color: $darkMetal;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  .sue {
    color: $greyish;
    font-size: 70px;
    font-family: $sue;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sue2 {
    color: $greyish;
    font-size: 60px;
    font-family: $sue;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 14px;
  }
  .home-titles-container {
    width: 560px;
    z-index: 2;
    position: absolute;
    .line-wrap {
      overflow: hidden;
      .line {
        height: 45px;
        text-align: left;
        .home-title-1 {
          color: $whiteish;
          font-family: $roboto;
          font-size: 70px;
          font-weight: 500;
          padding: 2px;
          margin: 2px auto;
          .chase {
            transition: all 600ms;
            &:hover {
              color: $blu;
            }
          }
        }
        .home-title-2 {
          color: $whiteish;
          font-family: $roboto;
          color: #eeeeee80;
          font-size: 20px;
          margin-left: 7px;
          margin-top: 20px;
          font-weight: 400;
        }
      }
    }
  }
  .part1 {
    animation: part1 1s ease;
    transform-origin: center;
    transform-box: fill-box;
  }
  @keyframes part1 {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .part3 {
    animation: part3 4s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  @keyframes part3 {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-6%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .part2 {
    animation: part2 20s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  @keyframes part2 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .part4 {
    animation: part4 20s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  @keyframes part4 {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .part5 {
    animation: part5 7s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  @keyframes part5 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.01;
    }
    100% {
      opacity: 1;
    }
  }
  .home-social-icons {
    height: 60px;
    width: 270px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    right: 0;
  }
}
