.App {
  text-align: center;
  height: 100vh;
  display: flex;
  background-color: #232931;
  display: flex;
  flex-wrap: wrap;
  /* overflow-x: hidden; */
}

@media (max-width: 1130px){
  .side-nav{
    display: none;
  }
}
